.home-wrapper {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/92bb3a0b-7e91-40a0-b27b-f2c3ac9ef6e4/de0b7415-7adf-4b71-9360-2010d38ab96f/BG-en-20210322-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    color: white;
    opacity: 0.8;
    min-height: 100%;
}
.home-container {
    padding: 0 250px;
    display: flex;
    flex-flow: column;
    min-height: 100%;
    text-align: center;
    margin: 0 auto;

    /* TODO: fix the height */
    height: 83vh; 
    
}

.home-container h1, h2 {
    margin: 0 auto;
    padding: 20px 0;
    
}

.home-container h1 {
    font-weight: bold;
    font-size: 80px;
}

.home-container h2 {
    font-weight: bold;
    font-size: 30px;
}